################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/DI.Az.Func.V3/.vs/DI.Az.Func.V3/v16/Server/sqlite3
